<!DOCTYPE html>
<html lang="en">

<body>
   <main>
    <section>
        <h2>Produtos em Desponíveis</h2>
        <div class="product">
            <img src="assets/tenis.jpg" alt="TENIS ADIDDAS">
            <h3><a href="http://localhost:4200/produtos">TENIS ADIDDAS</a></h3>
            <p>Estilo atemporal para diversos momentos e combinações.</p>
        </div>

        <div class="product">
            <img src="assets/camiseta.jpg" alt="camisa nike">
            <h3><a href="http://localhost:4200/produtos">CAMISETA NIKE</a></h3>
            <p>Camiseta NIKE <br>Malha 100% algodão</p>
        </div>

        <div class="product">
            <img src="assets/camisa2.jpg" alt="camisa nike">
            <h3><a href="http://localhost:4200/produtos">CAMISETA NIKE FEMININA</a></h3>
            <p>Camiseta NIKE <br>Malha 100% algodão</p>
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2024 Minha Loja de Produtos. Todos os direitos reservados.</p>
</footer>
 
</body>
</html>
